@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Paytone+One|Sniglet&display=swap');

.App {
  text-align: center;
}

/*
font-family: 'Patrick Hand', cursive;
font-family: 'Sniglet', cursive;
font-family: 'Righteous', cursive;
*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
}

#quote-box {
  width: 400px;
  background: black;
  margin: 0 auto;
  padding: 1px 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 1px rgb(224, 223, 223);
}

.title {
  text-align: center;
  align-self: center;
  font-family: 'Paytone One', sans-serif;
  font-size: 35px;
  color: white;
}

@media (max-width: 480px){
  #quote-box {
    width: 80%;
  }

  .title {
    font-size: 20px;
  }
}

#text {
  color: white;
  font-family: 'Sniglet', cursive;
  font-size: 22px;
  text-align: center;
}

#author {
  color: yellow;
  font-family: 'Patrick Hand', cursive;
  font-size: 22px;
}

@media (max-width: 480px){
  #text, #author {
    font-size: 17px;
  }
}

#buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.button {
  border: 0;
  border-radius: 22px;
  padding: 6px;
  background: rgb(112, 247, 112);
  font-size: 14px;
  font-family: 'Sniglet', cursive;
  font-weight: 550;
  box-shadow: 0px 0px 1px 2px rgb(247, 245, 245);
  margin-bottom: 10px;
}

.button:hover {
  background: green;
  color: white;
}

#buttons .social-media {
  display: flex;
  justify-content: space-between;
}

.social-media > a > .twitter-icon {
  color: #1DA1F2;
  margin-right: 15px;
}

.social-media > a > .twitter-icon:hover {
  color: rgb(235, 15, 169);
}

#buttons .social-media > #tumblr-quote > i {
  color: rgb(240, 243, 245);
}

#buttons .social-media > #tumblr-quote > i:hover {
  color: red;
}

.love {
  display: flex;
  justify-content: center;
  align-items: center;
}

.love > span {
  font-family: 'Sniglet', cursive;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.love > img {
  width: 34px;
  padding: 10px;
}

.love > span > a {
  text-decoration: none;
  color: white;
}